PORT=5000
MONGO_URI="mongodb+srv://dhananjay:Yadav8318@cluster1.nfq8iwx.mongodb.net/EVENTORA"
EMAIL_USER="dhananjaydj94500@gmail.com"
EMAIL_PASS="vjwghwqbwibphpgw"
JWT_SECRET=kadkjakldjkfajkdjfkajdkfjakdddfde